body {
    margin: 0;

    #swiss-covid {
        background-color: #f2f2f2;
        min-height: 100vh;

        #landingpage {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: calc(100vh - 82px);

            #landing-logo {
                width: 140px;
                height: auto;
            }

            h1#landing-title {
                margin-top: 30px;
            }

            p#landing-description {
                max-width: 335px;
                margin-top: 26px;

                @media screen and (max-width: $mobile) {
                    margin-top: 16px;
                }
            }

            #store-icons {
                display: flex;
                margin-top: 49px;

                & > div {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 270px;

                    &:first-child {
                        text-align: right;
                        margin-right: 7px;
                    }

                    &:last-child {
                        text-align: left;
                        margin-left: 7px;
                    }

                    img {
                        max-height: 80px;
                        width: auto;
                    }
                }

                @media screen and (max-width: $mobile) {
                    margin-top: 45px;
                    flex-direction: column;

                    & > div {
                        flex-basis: 78px;

                        &:first-child {
                            margin: 0;
                            margin-bottom: 13px;
                            text-align: center;
                        }

                        &:last-child {
                            margin: 0;
                            text-align: center;
                        }

                        img {
                            width: 240px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}
