{{ define "main" }}
<head>
    <title>{{ T "app_name"}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Get The App | SwissCovid" />
    <base href="{{ .Site.BaseURL }}" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="refresh" content="0; url={{ .Site.BaseURL }}">

    {{ $styles := resources.Get "scss/main.scss" | toCSS | postCSS (dict "config" "./assets/scss/postcss.config.js") | minify | fingerprint }}
    <link
            rel="stylesheet"
            href="{{ $styles.Permalink }}"
            integrity="{{ $styles.Data.Integrity }}"
            media="screen"
    />

    <script>
        window.currentLanguage = {
            shortcode: "{{ .Site.Language.Lang }}",
            appStoreLink: '{{ T "landing_appstore_link" }}',
            playStoreLink: '{{ T "landing_playstore_link" }}',
            downloadPdf: '{{ T "web_generator_download_pdf" }}'
        };
    </script>

    {{ $main := resources.Get "js/main.js" | js.Build (dict "minify" true "target" "es5") | fingerprint}}

    <script
            type="text/javascript"
            src="{{ $main.Permalink }}"
            integrity="{{ $main.Data.Integrity }}"
    ></script>
</head>

{{ end }}
