<head>
    <title>{{ T "landing_app_name"}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Get The App | SwissCovid" />
    <base href="{{ .Site.BaseURL }}" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }} 
    <link
        rel="stylesheet"
        href="{{ $styles.Permalink }}"
        integrity="{{ $styles.Data.Integrity }}"
        media="screen"
    />

    <script>
        window.currentLanguage = {
            appStoreLink: '{{ T "landing_appstore_link" }}',
            playStoreLink: '{{ T "landing_playstore_link" }}',
        };
    </script>

    {{ $main := resources.Get "js/main.js" | js.Build (dict "minify" true "target" "es5") }}
    <script
        type="text/javascript"
        src="{{ $main.Permalink }}"
        integrity="{{ $main.Data.Integrity }}"
    ></script>
</head>
