{{ define "main" }}
<div id="landingpage">
    <div id="landing-logo"></div>
    <h1 id="landing-title">{{ T "app_name" }}</span></h1>
    <p id="landing-description">
        {{ T "web_slogan" }}
    </p>
    <div class="mt-10">
        <a class="btn-primary" href="{{ "/generate" | relLangURL }}">
            {{ T "checkins_create_qr_code" }}
        </a>
    </div>
    <div id="store-icons">
        <div>
            <a href="https://apps.apple.com/ch/app/swisscovid/id1509275381">
                <img src="images/app-store-{{ $.Language.Lang}}.svg" alt="">
            </a>
        </div>
        <div>
            <a href="https://play.google.com/store/apps/details?id=ch.admin.bag.dp3t">
                <img src="images/play-store-{{ $.Language.Lang}}.svg" alt="">
            </a>
        </div>
    </div>
</div>
{{ end }}
